<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <title>Car List</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
</head>
<body>
<form method="post" th:action="@{/logout}">
    <button type="submit">LOGOUT</button>
</form>
<h1>Car List</h1>
<form sec:authorize="hasAuthority('ADMIN')"
      th:action="@{/cars/save}" method="get">
    <button type="submit">Add New Car</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Model</th>
        <th colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${carsPageContent}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td>
            <form th:action="@{/cars/{id}(id=${car.id})}" method="get">
                <button type="submit">Details</button>
            </form>
        </td>
        <td sec:authorize="hasAuthority('ADMIN')">
            <form th:action="@{/cars/save/{id}(id=${car.id})}" method="get">
                <button type="submit">Update</button>
            </form>
        </td>
        <td sec:authorize="hasAuthority('ADMIN')">
            <form th:action="@{/cars/delete/{id}(id=${car.id})}" method="post"
                  onclick="return confirm('Confirm, please.');">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/cars}" th:object="${carFilter}" method="get">
    <input type="hidden" th:field="*{brand}">
    <input type="hidden" th:field="*{engineId}">
    <label>
        Enter page size
        <input type="text" th:field="*{pageSize}">
    </label>
    <button type="submit">Submit</button>
</form>
<div th:if="${totalPages > 1}">
            <span th:each="number : ${#numbers.sequence(1, totalPages)}">
                <form th:action="@{/cars}" th:object="${carFilter}" method="get">
                    <input type="hidden" name="pageNumber" th:value="${number - 1}">
                    <input type="hidden" th:field="*{pageSize}">
                    <input type="hidden" th:field="*{brand}">
                    <input type="hidden" th:field="*{engineId}">
                    <button type="submit" th:text="${number}"
                            th:disabled="${carFilter.pageNumber == number - 1}"></button>
                </form>
        </span>
</div>
<form th:action="@{/cars}" th:object="${carFilter}" method="get">
    <label>
        Enter brand
        <input type="text" th:field="*{brand}">
    </label>
    <button type="submit">Filter</button>
</form>
<form th:action="@{/cars}" th:object="${carFilter}" method="get">
    <label>
        Enter engine ID
        <input type="number" th:field="*{engineId}">
    </label>
    <button type="submit">Filter</button>
</form>
<form th:action="@{/cars}" method="get">
    <button type="submit">Reset filters</button>
</form>
<form th:action="@{/engines}"
      method="get">
    <button type="submit">All Engines</button>
</form>
</body>
</html>