<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="java">
<head>
    <title>Edit engine</title>
</head>
<body>
<h2>Add engine:</h2>
<form th:action="@{/engines/edit/{id}(id=${engine.id})}"
      method="post"
      th:object="${engine}">
    <div>
        <label for="model">Model:</label>
        <input id="model"
               type="text"
               placeholder="Enter model name please"
               th:field="*{model}"
               th:value="${engine.model}"/>
    </div>
    <div>
        <label for="horsePower">Horse Power:</label>
        <input id="horsePower"
               type="number"
               placeholder="Enter horse power please"
               th:field="*{horsePower}"
               th:value="${engine.horsePower}"/>
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>