<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="java"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <title>Engines</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <form method="post" th:action="@{/logout}">
        <button type="submit">LOGOUT</button>
    </form>
</div>
<main>
    <h1>All engines</h1>
    <table>
        <thead>
        <tr>
            <th>Model</th>
            <th>Horse Power</th>
            <th sec:authorize="hasAuthority('ADMIN')" colspan="2">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="engine : ${engines}">
            <td th:text="${engine.model}"/>
            <td th:text="${engine.horsePower}"/>
            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{/engines/edit/{id}(id=${engine.id})}"
                      method="get">
                    <button th:text="Edit"/>
                </form>
            </td>
            <td sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{/engines/delete/{id}(id=${engine.id})}"
                      method="post">
                    <button th:text="Delete"/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <form th:if="${!engines.isEmpty()}"
          th:action="@{/engines}"
          th:object="${engineFilter}"
          method="get">
        <input type="hidden" th:field="*{horsePower}">
        <div>
            <div th:if="*{pageNumber > 0}">
                <button name="pageNumber"
                        th:value="*{pageNumber - 1}">
                    <<
                </button>
            </div>
            <div th:if="${engineFilter.pageNumber < totalPages - 1}">
                <button name="pageNumber"
                        th:value="*{pageNumber + 1}">
                    >>
                </button>
            </div>
        </div>
    </form>
    <br/>
    <h2>Filter</h2>
    <form th:action="@{/engines}"
          th:object="${engineFilter}"
          method="get">
        <label for="horsePowerFilter">Min horse power:</label>
        <input id="horsePowerFilter"
               type="number"
               th:field="*{horsePower}"/>
        <button type="submit">Apply</button>
    </form>

    <div sec:authorize="hasAuthority('ADMIN')">
        <h2>Add engine:</h2>
        <form th:action="@{/engines/add}"
              method="post"
              th:object="${newEngine}">
            <div>
                <label for="model">Model:</label>
                <input id="model"
                       type="text"
                       placeholder="Enter model name please"
                       th:field="*{model}"/>
            </div>
            <div>
                <label for="horsePower">Horse Power:</label>
                <input id="horsePower"
                       type="number"
                       placeholder="Enter horse power please"
                       th:field="*{horsePower}"/>
            </div>
            <button type="submit">Save</button>
        </form>
    </div>
    <div>
        <form th:action="@{/cars}"
              method="get">
            <button type="submit">All Cars</button>
        </form>
    </div>
</main>
</body>
</html>